{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jeff's Bike and Build Trivia Challenge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static "trivia/stylesheets/main.css" %}">
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Jeff's Bike and Build Trivia</a>
            </div>
            <div class="navbar-form pull-right">
            {% block navbutton %}
            {% endblock navbutton %}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                <ul class="navbar-right nav navbar-nav">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'sponsor' %}">Sponsors</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
        <hr>
        <footer>
        <p>&copy; Jeff Goodwin 2014, Site built by Sarah Bird thanks to Django and Bootstrap</p>
        </footer>
    </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.1.min.js" %}"><\/script>')</script>
        <script src="{% static "js/vendor/alert.js" %}"></script>
        <script src="{% static "js/vendor/transition.js" %}"></script>
        <script src="{% static "js/vendor/collapse.js" %}"></script>
        <script src="{% static "js/vendor/jquery.are-you-sure.js" %}"></script>
        <script>
            $(".alert").alert();
            $("form").areYouSure();
        </script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50697037-1', 'jhgoodwin.com');
  ga('send', 'pageview');

</script>
    </body>
</html>
