/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/text-shadow";
@import "bootstrap"; 

body, .navbar {
    min-width: 240px;
}

.navbar-right {
    margin-top: .5em;
    float: right;
    @media (max-width: 350px) {
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.navbar-header:before, .navbar-header:after {
    display: inline;
}

.main.container {
    margin-top: 5em;
    @media (max-width: 350px) {
        margin-top: 8em;
    }
}

.image {
    position: relative;
}

.overimage {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    line-height: 1.4;
    padding-left: .5em;
    /* shadow */
    $default-text-shadow-color: black;
    $default-text-shadow-blur: 3px;
    $default-text-shadow-v-offset: 1px;
    @include single-text-shadow;
    /* stretch */
    width: 205.5%;
    @media (max-width: $screen-md-min) {
        width: 100%;
    }
}

.trivia.row {
    margin-bottom: 2em;
}

.text-col {
    margin-top: 5em;
    @media (max-width: $screen-md-min) {
        margin-top: 1em;
    }
}

.question {
    font-weight: bold;
}


thead > tr > th {
    font-weight: bold;
}
