<p>Dear {{ name }},</p>

<p>Thanks so much for your support. You're donation will allow Bike & Build to donate more than half a million dollars to affordable housing organizations throughout the U.S.'</p>
<p>You made the following guesses:
<ul>
{% for guess in guesses %}
<li>{{ guess.trivia.title }} - {{ guess.value }}</li>
{% endfor %}
</ul>
</p>
<p>If you haven't already done so already, please go to <a href="http://www.bikeandbuild.org/cms/component/option,com_wrapper/Itemid,118/?item_name_1=7212">
my donation page</a> and make the recommended donation of ${{ suggested_donation|default:"xxx" }}. Remember, you can't participate in the Trivia Challenge if you don't donate!</p>

<p>Don't hesitate to get in touch with any problems or concerns</p>

<p>Thanks again</p>
<p>- Jeff</p>
