{% extends "base.html" %}
{% load staticfiles %}
{% load guesses %}


{% block navbutton %}
<a href="{% url 'send' %}" class="btn btn-success">Send Jeff my guesses...</a>
{% endblock %}

{% block content %}

<form role="form" action="." method="post">{% csrf_token %}
{% for trivia in object_list %}
<div class="trivia row">
    <div class="col-md-6 image-col">
        <div class="image">
            <img class="img-responsive" src="{{ MEDIA_URL }}{{ trivia.image }}" alt="Image for {{ trivia.title }}"></img>
            <h2 class="overimage">{{trivia.title}}</h2>
        </div>
    </div>
    <div class="col-md-6 text-col">
        <dl>
            <dt>Overview</dt><dd>{{trivia.overview}}</dd>
            <dt>Insider</dt><dd>{{trivia.insider}}</dd>
            <dt>Details</dt><dd>{{trivia.details}}</dd>
        </dl>
        <p class="question">{{trivia.trivia}}</p>
        <div class="input-group pull-right">
            <input name="trivia-{{ trivia.id }}" value="{{ trivia|get_guess:request.session }}" type="number" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Save</button>
            </span>
        </div>
    </div>
</div>
{% endfor %}
</form>
{% endblock %}
