{% extends "base.html" %}
{% load guesses %}

{% block navbutton %}
<a href="{% url 'home' %}" class="btn btn-default">Back to trivia</a>
{% endblock %}

{% block content %}
<h3>Your guesses</h3> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Trivia</th>
            <th>Your guess</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for trivia in object_list %}
        {% if trivia|get_guess:request.session %}
        <tr>
            <td>{{trivia.trivia}}</td>
            <td>{{ trivia|get_guess:request.session }}</td>
            <td><a class="btn btn-primary" href="{% url 'home' %}#{{ trivia.id }}">edit</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<h3>Donate and send</h3>
<p>To enter the draw to win Jeff's hand-crafted prizes, please make a 
    donation of $10 for each of the guesses to Jeff's <a href="http://bikeandbuild.org/rider/7212">Bike & Build</a></p 
<p>You have made {{ number_of_guesses|default:"xxx" }} guesses, so your suggested 
    donation to <a href="http://bikeandbuild.org/rider/7212">Bike & Build</a> is <b>${{ suggested_donation|default:"xxx" }}</b>.</p>
<p>After pressing send, you will be taken to Jeff's Bike & Build donate page where you can make your 
donation, please remember the amount (${{ suggested_donation|default:"xxx"}}) as it won't be automatically filled. 
You should receive an email confirmation with your guesses in it, if you don't please email 
    <a href="mailto:jeffreyhgoodwin@gmail.com">jeffreyhgoodwin@gmail.com</a></p>
<br />
<form role="form" class="form" action="" method="post">{% csrf_token %}
    <div class="form-group clearfix">
        <div class="col-xs-4{% if form.name.errors %} has-error{% endif %}">
            <input class="form-control" name="name" placeholder="Name (required)" value="{{ form.name.value }}">
            {% if form.name.errors %}<span class="help-inline text-danger">{{ form.name.errors.as_text }}</span>{% endif %}
        </div>
        <div class="col-xs-4{% if form.email.errors %} has-error{% endif %}">
            <input class="form-control" type="email" name="email" placeholder="Email (required)" value={{ form.email.value }}>
            {% if form.email.errors %}<span class="help-inline text-danger">{{ form.email.errors.as_text }}</span>{% endif %}
        </div>
    </div>    
    <div class="col-xs-12">
    {{ form.add_to_list }}I want to receive email updates from Jeffrey Goodwin.
    </div>
    <div class="col-xs-12">
            
        <input type="submit" class="btn btn-success" value="Make my donation & send my guesses to Jeff."/>
    </div>
</form>
<div class="clearfix"></div>
<br />
<br />
<br />
<br />
{% endblock %}
