{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% for trivia in object_list %}
<div class="trivia row">
    <div class="col-md-6 image-col">
        <div class="image">
            <img class="img-responsive" src="{{ MEDIA_URL }}{{ trivia.image }}" alt="Image for {{ trivia.title }}"></img>
            <h2 class="overimage">{{trivia.title}}</h2>
        </div>
    </div>
    <div class="col-md-6 text-col">
        <dl>
            <dt>Overview</dt><dd>{{trivia.overview}}</dd>
            <dt>Insider</dt><dd>{{trivia.insider}}</dd>
            <dt>Details</dt><dd>{{trivia.details}}</dd>
        </dl>
        <p class="question">{{trivia.trivia}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
